/*#Region Reset*/
*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
/*endRegion*/
/*#Region Declarem variables*/
:root{
    --verd-fosc:#87A497;
    --verd-clar:#B4D1C6;
    --blanc:#F2F4F5;
    --blau:#374785;
    --blau-hover:#5466AA;
    --gris-fosc:#2D2D2D;
    --gris-hover:#575757;
    --font-normal: 'Noto Sans';
    --font-semi:'Noto Sans Semi';
    --font-light:'Noto Sans light';

}
/*endRegion*/

body{
    background-color: var(--verd-fosc);
    font-family: var(--font-normal);
    font-size: 1rem;
}

/*#Region capçalera logo + menu navegació*/
.inici{
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:36px;
}
/*endRegion*

/*logo*/
.logo{
    width:210px;
    margin-left: 40px;
}

/*#Region Menu navegació*/
.menu{
    margin-right:40px;
}
.menu ul{
    list-style-type: none;
    display:flex;
    align-items: center;
    gap:70px;
}
.enlace{
    text-decoration: none;
    color: #2D2D2D;
    font-size: 18px;
}
.enlace:hover{
    color:var(--verd-clar);
}
/*endRegion*

/*#Region Barra de búsqueda*/
.search{
    width: 848px;
    height: 47px;
    border-radius: 15px;
    display:flex;
    justify-content: center;
}
.search::placeholder{
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--verd-clar);
}

#form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 36px;
}

#search{
    width: 40%;
    min-width: 320px;
    height: 45px;
    background: var(--blanc);
    border-radius: 15px;
    padding: 16px;
    font-size: 16px;
    outline: 0; /*Opció d'accebilitat, requadre en la caixa text*/
}
#search[placeholder]{
    color:var(--verd-clar);
}

#search:focus{
    color:var(--gris-fosc);
    background-color: var(--verd-clar);
}
/*endRegion*

/*#Barra búsqueda dinàmica, al fer click s'obre*/
.cercador{
    background: var(--verd-clar) url(../img/lupa-icon.svg) no-repeat 7px 7px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    padding: 20px;

    font-size: 20px;

    transition: all 0.5s;
}
.cercador:hover, .cercador:focus{
    width: 250px;
    background:var(--verd-clar) url(../img/lupa-icon.svg) no-repeat 200px 7px;;
}

/*endRegion*
/*#Region Boto*/
.cerca{
    background-color: var(--blau);
    color:var(--blanc);
    font-size: 20px;
    width: 5%;
    min-width:120px ;
    height: 45px;
    border-radius: 15px;
}
.cerca:hover{
    background-color: var(--blau-hover);
}
/*endRegion*

/*main*/
main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/*#Region Secció novetats*/
.novetats{
    width: 80%;
}
.novetats h2{
    font-size: 50px;
    margin-bottom: 20px;
}
/*endRegion*

/*#Region Cards movie*/

.llista-novetats{
    display: flex;
    justify-content: space-between;
    /*flex-wrap: nowrap;*/
    overflow-x:auto;
    gap:15px;
}
.movie{
    width: 325px;
    background: var(--blanc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    margin-bottom: 30px;
}
.movie img{
    width: 300px;
    border-radius: 8px;
}
.movie-info {
    display:flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-top: 18px;
}
.movie-info div{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
.movie-info h3{
    font-size: 24px;
    line-height: 100%;
    color:var(--verd-fosc);
    font-family: var(--font-semi);
}
.movie-info p{
    font-family: var(--font-light);
}
.puntuacio{
    width: 50px;
    height: 50px;
    background-color: var(--blau);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
/*endRegion*

/*Region footer*/
.footer{
    background-color: var(--gris-fosc);
    color:var(--blanc);
    display: flex;
    justify-content:space-between;
    padding: 20px;
}
.contact{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    gap:8px;
}
.social{
    display: inherit;
    justify-content: flex-end;
    gap: 20px;
}
.social a:hover, .tmdb a:hover{
    opacity:0.5;
}
.tmdb{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:8px;
}
.tmdb img{
    height: 70px;
}

/*endRegion*
/*Colors de la puntuació*/
.green{
    color:green;
}
.orange{
    color:orange;
}
.red{
    color:red;
}

/*Media queries*/
@media screen and (min-width:375px) and (max-width:750px){
    div.cabecera{
        flex-direction: column;    
    }
    .logo{
        margin-left: 0;
    }
    .menu{
        margin-top: 20px;
        margin-right:0;
    }
}